<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cams</title>
    <link rel="stylesheet" href="{{ static_url('site.css') }}">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.17/jquery-ui.min.js"></script>
    <script src="{{ static_url('site.js') }}"></script>
    <script type="text/javascript">
        var site = new camlib();
        site.index();
    </script>
    {% block scripts %}{% end %}
</head>
<body>  
<div class="container">
    <h1 class="home"><a href="/"><span>Cams</span></a></h1>

    <div class="userinfo">
    {% module UserInfoModule() %}
    {% module MicroLoginModule() %}
    </div>
     
    <div class="nav">
        <ul>
            <li class="active"><a href="/">Browse</a></li>
            <li class="active"><a href="/">Wiki</a></li>
        </ul>
    </div>
      
    <div class="content">
        {% block body %}master{% end %}
    </div>
</div>
</body>
</html>
